---
import { getCollection, render } from "astro:content";
import MySiteLayout from '../../layouts/Layout.astro'
import { ClientRouter } from "astro:transitions";

export async function getStaticPaths() {
  const posts = await getCollection('blog')

  return posts.map(post => ({
    params: { id: post.id },
    props: { post }
  }))
}
const allPosts = await getCollection('blog')
const postIndex = allPosts.findIndex(post => post.id === Astro.params.id)
const { post } = Astro.props;
const { Content } = await render(post)
console.log(post.id, post.data.title, post.data.description)
if (postIndex === -1) {
  throw new Error(`Post with id ${Astro.params.id} not found`)
}
const prevPost = postIndex > 0 ? allPosts[postIndex - 1] : null
const nextPost = postIndex < allPosts.length - 1 ? allPosts[postIndex + 1] : null
if (prevPost) {

}
---
<MySiteLayout>
  <Content />
  <div id="blog-controls">
    <div>
      <button id="prev-post-btn">
        Previous Post
      </button>
    </div>
    <div>
      <button id="next-post-btn">
        Next Post
      </button>
    </div>
  </div>
</MySiteLayout>

<style is:global>

#blog-controls {
  display: flex;
  justify-content: space-between;
}
#blog-controls button {
  border-radius: 0px;
  background-color: rgb(218, 217, 217);
}

  img {
    max-width: 100%;
  }

  p {
    color: white;
  }

  h3 {
    color: purple !important;
  }

</style>