---
import { getCollection } from 'astro:content';
import MySiteLayout from '../layouts/Layout.astro';
import PreviewImage from '../components/PreviewImage.astro';

const posts = await getCollection('blog');

// Sort posts by date (newest first)
posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

// Get the latest 3 posts (or however many you want)
const latestPosts = posts.slice(0, 3);
---

<MySiteLayout>
    <header>
      <h1 class="title">Welcome to My Blog</h1>
      <p>Sharing thoughts, tutorials, and tech insights.</p>
      <p>
        <a href="https://bsky.app/profile/garesoft.dev" target="_blank">Chat with me on Bluesky</a>
      </p>
      <marquee>
        <a href="https://bsky.app/profile/garesoft.dev" target="_blank">Chat with me on Bluesky</a>
      </marquee>
    </header>

    <section>
      <h2>Latest Posts</h2>
      <ul>
        {latestPosts.map(post => (
          <li>
            <a href={`/blog/${post.id}/`}><h3>{post.data.title}</h3></a>
            <div>

              <PreviewImage imageSrc={post.data.image} />
            </div>
            <p>{post.data.description}</p>
          </li>
        ))}
      </ul>
    </section>
	</MySiteLayout>
