

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Dev Blog</title>
    <div class="container">
      <div id="header-container">
        <a href="/" id="home-link">
          garesoft
        </a>
      </div>
      <article>
        <slot />
      </article>
    </div>
    <style>
      :root {
        --bg-light: #F5ECE0;
        --primary: #5F99AE;
        --secondary: #336D82;
        --accent: #693382;
        --text-dark: #1E1E1E;
        --text-light: #ffffff;
      }

      html body {
        background-color: var(--bg-light);
        color: var(--text-dark);
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        font-family: 'Times New Roman', Times, serif
      }

      #home-link {
        color: black;
        text-decoration: none !important;
        font-size: 2rem;
        padding-bottom: 2rem;
      }

      #header-container {
        margin-bottom: .5rem;
      }

      header h1 {
        color: red;
      }


      nav a {
        color: var(--text-light);
        text-decoration: none;
        margin-left: 1rem;
        font-weight: bold;
      }

      .hero {
        text-align: center;
        padding: 3rem 1rem;
        background: var(--secondary);
        color: var(--text-light);
      }

      .container {
        max-width: 800px;
        margin: 2rem auto;
      }

      article {
        padding: 3rem;
        border: solid var(--accent)
      }

      .post {
        background: var(--text-light);
        padding: 1rem;
        border-left: 5px solid var(--accent);
        margin-bottom: 1rem;
      }
    </style>
  </head>
</html>

